@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0 0% 10%);
  min-height: 100vh;
  display: grid;
}

#background {
  background: linear-gradient(90deg, #5d6166, #c7c4bf) no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      35px 35px,
    url("resources/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  z-index: -1;
}

header {
  place-self: center;
}

header,
section {
  height: 100vh;
  display: grid;
}

section {
  grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
  grid-template-rows: 1.5fr 7fr 1fr;
  grid-template-areas:
    ". header header ."
    ". main main sidebar"
    ". footer footer .";
  gap: 1em;
}

#experience {
  grid-template-areas:
    ". header header ."
    ". left right sidebar"
    ". footer footer .";
}

#job1 {
  grid-area: left;
  width: 100%;
  align-self: center;
}

#job2 {
  grid-area: right;
  width: 100%;
  align-self: center;
}

.job_location {
  font-weight: 100;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 2em;
}

ul {
  margin-bottom: 3em;
}

li {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  list-style-position: inside;
}

.job_date {
  text-align: left;
  font-size: 1.5em;
}

h1,
h2,
h3,
li {
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 10em;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  clip-path: inset(0 100% 0 0);
  animation: typing 3.5s forwards;
  align-self: end;
}

h2 {
  font-weight: 700;
  font-size: 7.5em;
  grid-area: header;
  justify-self: center;
  align-self: end;
}

h3 {
  font-weight: 500;
  font-size: 3em;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 2em;
  text-align: center;
}

@keyframes typing {
  to {
    clip-path: inset(0 0 0 0);
  }
}
