@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0 0% 10%);
  min-height: 100vh;
  display: grid;
}

#background {
  background: linear-gradient(90deg, #5d6166, #c7c4bf) no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      35px 35px,
    url("resources/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  z-index: -1;
}

header {
  place-self: center;
}

header,
section {
  height: 100vh;
  display: grid;
}

section {
  grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
  grid-template-rows: 1.5fr 7fr 1fr;
  grid-template-areas:
    ". header header ."
    ". main main sidebar"
    ". footer footer .";
  gap: 1em;
}

#experience {
  grid-template-areas:
    ". header header ."
    ". left right sidebar"
    ". footer footer .";
}

#job1 {
  grid-area: left;
  width: 100%;
  align-self: center;
}

#job2 {
  grid-area: right;
  width: 100%;
  align-self: center;
}

.job_location {
  font-weight: 100;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 2em;
}

ul {
  margin-bottom: 3em;
}

li {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  list-style-position: inside;
}

.job_date {
  text-align: left;
  font-size: 1.5em;
}

h1,
h2,
h3,
li {
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 10em;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  clip-path: inset(0 100% 0 0);
  animation: typing 3.5s forwards;
  align-self: end;
}

h2 {
  font-weight: 700;
  font-size: 7.5em;
  grid-area: header;
  justify-self: center;
  align-self: end;
}

h3 {
  font-weight: 500;
  font-size: 3em;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 2em;
  text-align: center;
}

#hobbies_carousel {
  text-align: center;
  width: 75%;
  height: 75%;
  grid-area: main;
  place-self: center;
}

#slides {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

.slide {
  display: flex;
  scroll-margin-top: 30em;
  scroll-snap-align: start;
  border-radius: 1em;
  flex-shrink: 0;
  width: 100%;
  margin-right: 1em;
  background-color: #555;
}

.slide_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  text-align: left;
  width: 40%;
}

.slide_description {
  text-align: left;
  font-size: 1.5em;
  font-style: normal;
  padding-top: 2em;
}

.slide_image {
  width: 60%;
  border-radius: 0 1em 1em 0;
  background-size: cover;
}

#slide_image_1 {
  background-image: url(resources/3d_printing.jpg);
  background-position: right;
}

#slide_image_2 {
  background-image: url(resources/self_hosting.jpg);
  background-position: left;
}

#slide_image_3 {
  background-image: url(resources/bike.jpg);
  background-position: right;
}

#slide_image_4 {
  background-image: url(resources/skills.jpg);
  background-position: right;
}

.carousel_button {
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  width: 2em;
  height: 2em;
  background-color: #555;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 0 1.5rem 0;
}

@keyframes typing {
  to {
    clip-path: inset(0 0 0 0);
  }
}
