@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: hsl(0 0% 10%);
  min-height: 100vh;
  display: grid;
}

#floating_menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin-right: 10rem;
  margin-bottom: 10rem;
}

#floating_menu > a {
  margin-bottom: 1rem;
  border-radius: 50%;
  padding: 1rem 1rem;
  display: inline-flex;
  background-color: #555;
}

#floating_menu > a:hover {
  background-color: #888;
}

#floating_menu > a > svg {
  fill: white;
  width: 2rem;
  height: 2rem;
}

#background {
  background: linear-gradient(90deg, #5d6166, #c7c4bf) no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  mask:
    radial-gradient(circle at 50% 50%, white 0.2rem, transparent 0.25rem) 50%
      50% / 3.5rem 3.5rem,
    url("resources/noise-mask.png") 25.6rem 50% / 25.6rem 25.6rem;
  mask-composite: intersect;
  z-index: -1;
}

header {
  place-self: center;
}

header,
section {
  height: 100vh;
  display: grid;
}

section {
  grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
  grid-template-rows: 2.5fr 7fr 0.5fr;
  grid-template-areas:
    ". header header ."
    ". main main sidebar"
    ". footer footer .";
  gap: 1rem;
}

#experience {
  grid-template-areas:
    ". header header ."
    ". left right sidebar"
    ". footer footer .";
}

#job1 {
  grid-area: left;
  width: 100%;
  align-self: center;
}

#job2 {
  grid-area: right;
  width: 100%;
  align-self: center;
}

.job_location {
  font-weight: 100;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 4rem;
}

ul {
  margin-bottom: 4rem;
}

li {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  list-style-position: inside;
}

.job_date {
  text-align: left;
  font-size: 2.5rem;
}

h1,
h2,
h3,
a,
li {
  color: white;
  font-family: "Roboto", sans-serif;
  scroll-margin-top: 15rem;
}

h1 {
  font-weight: 900;
  font-size: 20rem;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  clip-path: inset(0 100% 0 0);
  animation: typing 3.5s forwards;
  align-self: end;
}

h2 {
  font-weight: 700;
  font-size: 15rem;
  grid-area: header;
  justify-self: center;
  align-self: end;
}

h3 {
  font-weight: 500;
  font-size: 5rem;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 5rem;
  text-align: center;
}

#hobbies_carousel {
  text-align: center;
  width: 75%;
  height: 75%;
  grid-area: main;
  place-self: center;
}

#slides {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

.slide {
  display: flex;
  scroll-margin-top: 51rem;
  scroll-snap-align: start;
  border-radius: 1rem;
  flex-shrink: 0;
  width: 100%;
  margin-right: 1rem;
  background-color: #555;
}

.slide_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  text-align: left;
  width: 40%;
}

.slide_description {
  text-align: left;
  font-size: 2.5rem;
  font-style: normal;
  padding-top: 2rem;
}

.slide_image {
  width: 60%;
  border-radius: 0 1rem 1rem 0;
  background-size: cover;
}

#slide_image_1 {
  background-image: url(resources/3d_printing.jpg);
  background-position: right;
}

#slide_image_2 {
  background-image: url(resources/self_hosting.jpg);
  background-position: left;
}

#slide_image_3 {
  background-image: url(resources/bike.jpg);
  background-position: right;
}

#slide_image_4 {
  background-image: url(resources/skills.jpg);
  background-position: right;
}

.carousel_button {
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  background-color: #555;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 0 1.5rem 0;
}

#skills_grid {
  margin: 0em 25rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-area: main;
  place-items: center;
  place-self: center;
  height: 80%;
  gap: 1rem;
}

.skills_grid_item {
  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 8rem;
  grid-template-areas:
    "image"
    "text";
  background-color: #ccc;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  box-shadow: 1rem 1.5rem 2.5rem black;
  padding: 2rem 2.5rem;
  place-items: center;
}

.skills_grid_item > img {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.skills_grid_item > p {
  grid-area: text;
  color: #555;
  font-size: 2rem;
  font-style: normal;
}

.skills_grid_item:hover {
  transform: scale(115%);
  transition: ease-in 0.2s;
}

#education_grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-area: main;
  place-items: center;
  text-align: center;
}

.education_grid_item_description {
  font-style: normal;
  font-size: 2.75rem;
  font-weight: 300;
  padding-top: 1rem;
}

.education_grid_item_time {
  font-size: 2.5rem;
  padding-top: 1rem;
  font-weight: 200;
}

#project_grid {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 15rem;
}

.project_grid_item > h3 {
  margin-bottom: 0.5rem;
}

.project_grid_item > a {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.project_grid_item_description {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: left;
}

@keyframes typing {
  to {
    clip-path: inset(0 0 0 0);
  }
}
