@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0 0% 10%);
  min-height: 100vh;
  display: grid;
}

#background {
  background: linear-gradient(90deg, #5d6166, #c7c4bf) no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      35px 35px,
    url("resources/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  z-index: -1;
}

header {
  place-self: center;
}

h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 10em;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  clip-path: inset(0 100% 0 0);
  animation: typing 3.5s forwards;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 2em;
  text-align: center;
}

@keyframes typing {
  to {
    clip-path: inset(0 0 0 0);
  }
}
