* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0 0% 10%);
  min-height: 100vh;
  display: grid;
}

#main {
  background: linear-gradient(90deg, #5d6166, #c7c4bf) no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      35px 35px,
    url("resources/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
}

@keyframes flicker {
  to {
    mask-position:
      50% 50%,
      0 50%;
  }
}
