name: Check
on:
  pull_request:
    types: [opened, reopened, edited]

defaults:
  run:
    working-directory: terraform

permissions:
  id-token: write
  contents: read

jobs:
  run-checks:
    timeout-minutes: 60

    runs-on: ubuntu-latest

    env:
      TF_VAR_address_line_1: "test"
      TF_VAR_bucket_name: "test"
      TF_VAR_s3_origin_name: "test"
      TF_VAR_domain: "test"
      TF_VAR_city: "test"
      TF_VAR_contact_type: "test"
      TF_VAR_country_code: "test"
      TF_VAR_email: "test"
      TF_VAR_first_name: "test"
      TF_VAR_last_name: "test"
      TF_VAR_phone_number: "test"
      TF_VAR_zip_code: "test"
      TF_VAR_python_runtime: "test"

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install Python dependencies
        working-directory: ${{ github.workspace }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-test-app.txt

      - name: Run pytest tests
        working-directory: ${{ github.workspace }}
        run: python -m pytest src/backend/test_app.py -v

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform fmt
        run: terraform fmt

      - name: Terraform validate
        run: terraform validate
