name: Deploy
on:
  push:
    branches: [main]

defaults:
  run:
    working-directory: terraform

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan:
    timeout-minutes: 60

    runs-on: ubuntu-latest

    env:
      TF_VAR_address_line_1: ${{ secrets.addres_line_1 }}
      TF_VAR_bucket_name: ${{ secrets.bucket_name }}
      TF_VAR_s3_origin_name: ${{ secrets.s3_origin_name }}
      TF_VAR_domain: ${{ secrets.domain }}
      TF_VAR_city: ${{ secrets.city }}
      TF_VAR_contact_type: ${{ secrets.contact_type }}
      TF_VAR_country_code: ${{ secrets.country_code }}
      TF_VAR_email: ${{ secrets.email }}
      TF_VAR_first_name: ${{ secrets.first_name }}
      TF_VAR_last_name: ${{ secrets.last_name }}
      TF_VAR_phone_number: ${{ secrets.phone_number }}
      TF_VAR_zip_code: ${{ secrets.zip_code }}
      TF_VAR_python_runtime: ${{ secrets.python_runtime }}

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install Python dependencies
        working-directory: ${{ github.workspace }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-test-app.txt

      - name: Run pytest tests
        working-directory: ${{ github.workspace }}
        run: python -m pytest src/backend/test_app.py -v

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
          role-session-name: GitHubActionsTerraform

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3

      - name: Terraform init
        run: terraform init

      - name: Terraform plan
        run: terraform plan -input=false -out=plan.tfout

      - name: Upload plan
        uses: actions/upload-artifact@v4
        with:
          name: tf-plan
          path: terraform/plan.tfout

      - name: Upload tf lock
        uses: actions/upload-artifact@v4
        with:
          name: tf-lock
          path: terraform/.terraform.lock.hcl
          include-hidden-files: true

  manual-approval:
    name: Approve tf plan
    runs-on: ubuntu-latest
    needs: terraform-plan
    if: success()

    steps:
      - name: Wait for approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: Vidariondr
          minimum-approvals: 1
          issue-title: "Manual Approval Required Before TF Apply"
          issue-body: "Approve or deny deployment."

  terraform-apply:
    runs-on: ubuntu-latest
    needs: manual-approval

    steps:
      - uses: actions/checkout@v5

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
          role-session-name: GitHubActionsTerraform

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3

      - name: Download tf-plan
        uses: actions/download-artifact@v6
        with:
          name: tf-plan
          path: terraform/plan.tfout

      - name: Download tf-lock
        uses: actions/download-artifact@v6
        with:
          name: tf-lock
          path: terraform/.terraform.lock.hcl

      - name: Terraform init
        run: terraform init

      - name: Terraform apply
        run: terraform apply -auto-approve plan.tfout

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install Python dependencies
        working-directory: ${{ github.workspace }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-test-e2e.txt
          python -m playwright install --with-deps

      - name: Run e2e tests
        working-directory: ${{ github.workspace }}
        run: python -m pytest src/backend/test_e2e.py -v
